.additional-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 2px solid #68b738;
  position: relative;
  padding: 0 20px;


  &__title {
    position: absolute;
    background-color: #ffffff;
    padding-right: 40px;
    padding-left: 20px;
    left: 0;
    top: -12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $based-color-black;
  }

  &__container {
    margin-top: 48px;
  }

  &__product {

  }

  &__type {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $based-color-black;
  }

  &__package {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $based-color-text;
  }

  &__price {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $based-color-text;
  }

  &__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $based-color-white;
  }
}
