.additional-products {
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $based-color-black;
  }

  &__type {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $based-color-black;
  }

  &__package {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $based-color-text;
  }

  &__price {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $based-color-text;
  }

  &__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $based-color-white;
  }
}
