.example {
  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $based-color-black;
  }

  &__description {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $based-color-text;
  }

  &__additional {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $based-color-black;
  }
}
