.location {
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
  }

  &__description {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
  }
}
