a {
  text-decoration: none;
  color: $based-color-black;
}

.nav-mobile {
  display: flex;
  flex-direction: column;

  &__list-item {
    text-align: center;
    padding: 22px 0;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
