.product {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 280px;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $based-color-black;
    max-width: 80px;
    margin-bottom: 14px;
  }

  &__description-container {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }


  &__description {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $based-color-text;
  }

  &__another-description {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $based-color-text;
  }

  &__button {
    margin-top: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $based-color-white;
    min-width: 280px;
    min-height: 40px;
    background-color: #68b738;
    border: none;
  }

  @media (min-width: 768px) {
    flex-direction: column;

    &__text {
      width: 100%;
      align-items: center;
      margin-bottom: 32px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
      max-width: 135px;
      text-align: center;
      margin-bottom: 21px;
      margin-top: 22px;
    }

    &__description-container {
      width: 100%;
      border-bottom: 1px solid #cdcdcd;
      padding: 3px 0;
    }

    &__another-description {
      font-size: 16px;
      line-height: 20px;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
    }

    &__button {
      width: 240px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: 1440px) {
    min-width: 245px;
    padding: 0 38px;

    &__button {
      min-width: 169px;
      margin-top: 27px;
      margin-bottom: 20px;
    }

    &__text {
      min-width: 10px;
      width: 100%;
      margin-top: 31px;
    }

    &__description-container {
      min-width: 100%;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}
