.proposal-block {
  &__header {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
  }

  &__phrase {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__button {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
