.show-more {
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $based-color-black;
  }

  &__description {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $based-color-text;
  }

  &__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $based-color-text;
  }
}
